<!-- ヘッダー -->
<%= render 'render/header' %>

<!-- メイン -->
<main>
    <!-- パンくずリスト -->
    <% breadcrumb :article_details, @article_details %>
    <%= breadcrumbs separator: " &rsaquo; " %>
</main>

<!-- フッター -->
<%= render 'render/footer' %>