<!-- メール認証 -->
<section class="settings">
    <div class="settings__wrapper">
        <%= image_tag "email_icon.jpg", class: "settings__img" %>
        <h2 class="settings__wrapper--title">メールを送信しました</h2>
        <p class="settings__wrapper--text" >入力したアドレスにメールを送信しました。メールを確認し、認証を進めてください。</p>
    </div>
</section>