<!-- ヘッダー -->
<header class="header">
    <div class="header__wrapper">
        <a class="header__title" href="">
            <h1 class="header__hssb"><span class="header__hssb--blue">H</span>SSB</h1>
            <p class="header__title--sub">高校生の意見発信ブログ</p>
        </a>
        <nav>
            <ul class="header__ul">
                <li class="header__ul--list">
                    <a>ホーム</a>
                </li>
                <li class="header__ul--list">
                    <a>ブログを書く</a>
                </li>
                <li class="header__ul--list">
                    <a>お気に入り</a>
                </li>
                <li class="header__ul--list">
                    <a>記事を読む</a>
                </li>
            </ul>
        </nav>
        <a class="header__profile">
            <%= image_tag "default_icon.jpg", class: 'header__profile--img' %>
        </a>
        <div class="header__triangle"></div>
    </div>
</header>

<!-- メイン -->
<main>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</main>

<!-- フッター -->
<footer>

</footer>

<!-- TOPページ限定のJavaScript -->
<%= javascript_pack_tag 'top_js/application' %>