<!-- ヘッダー -->
<%= render 'render/header' %>

<!-- メイン -->
<main>
    <section class="settings">
        <div class="settings__wrapper">
        <div class="settings__icon">
            <%= image_tag "default_icon.jpg", class: "settings__icon--img" %>
        </div>
        <h2 class="settings__wrapper--title">パスワードの設定</h2>
        <form class="settings__form">
            <label for="current_password" class="settings__form--label">現在のパスワード</label>
            <input type="password" id="current_password" name="current_password" class="settings__form--input">
            <label for="new_password" class="settings__form--label">新しいパスワード</label>
            <input type="password" id="new_password" name="new_password" class="settings__form--input">
            <label for="validation_password" class="settings__form--label">新しいパスワード（確認）</label>
            <input type="password" id="validation_password" name="validation_password" class="settings__form--input">
            <input type="submit" value="更新する" name="password_update" class="settings__form--button">
        </form>
        <%= link_to "/account_setting", class: "settings__link" do %>
            アカウントの設定は<span class="settings__link--blue">こちら</span>
        <% end %>
    </section>
</main>

<!-- フッター -->
<%= render 'render/footer' %>