.new-article {
    max-width: 1020px;
    padding: 50px 30px 100px;
    margin: 0 auto;
    @include line_title;
    &__title {
        margin-bottom: 50px;
    }
    &__wrapper {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
    }
    &__button {
        @include button($background: white,  $width: 500px, $radius: 5px, $height: 50px, $color: $text_color);
    }
    &__text {
        font-size: 18px;
        text-align: center;
    }
}
@include bp_md {
    .new-article {
        padding: 50px 30px;
        &__wrapper {
            display: block;
        }
        &__button {
            @include button($background: white,  $width: 440px, $radius: 5px, $height: 50px, $color: $text_color);
        }
        &__text {
            font-size: 16px;
            text-align: center;
        }
    }
}
@include bp_sm {
    .new-article {
        @include line_title($width: 50px);
        &__button {
            @include button($background: white,  $width: 260px, $radius: 5px, $height: 50px, $color: $text_color);
        }
    }
}