.article_posting {
    max-width: 880px;
    margin: 60px auto 100px;
    padding: 0 30px;
    &__form {
        &--label {
            display: block;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 15px;
            &:nth-of-type(2) {
                display: inline;
            }
        }
        &--title {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 16px;
            box-sizing: border-box;
            margin-bottom: 50px;
        }
        &--img_select {
            margin: 0 0 15px 15px;
        }
        &--img {
            width: 100%;
            height: 460px;
            background: image-url('article_details_no_img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 50px;
        }
        &--textarea {
            width: 100%;
            height: auto;
            min-height: 260px;
            border: 1px solid #ddd;
            padding: 30px;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 50px;
        }
        &--button {
            @include button;
        }
    }
}

@include bp_md {
    .article_posting {
        margin: 50px auto;
        &__form {
            &--img {
                height: 400px;
            }
        }
    }
}

@include bp_sm {
    .article_posting {
        &__form {
            &--label {
                font-size: 14px;
                display: block;
            }
            &--title {
                margin-bottom: 40px;
            }
            &--img_select {
                margin-left: 0 auto;
            }
            &--img {
                height: 250px;
                margin-bottom: 40px;
            }
            &--textarea {
                margin-bottom: 30px;
            }
            &--button {
                @include button($width: 250px, $height: 50px);
            }
        }
    }
}