<% content_for(:list_title, "記事一覧") %>

<!-- プロフィール -->
<section class="profile">
  <%= render "shared/profile" %>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
  <%= render "shared/list_title" %>
  <% unless @articles.empty? %>
    <% @articles.each do |article| %>
      <%= render "shared/articles", article: article %>
    <% end %>
    <%= paginate @articles %>
  <% else %>
    <p class="articles_list__no_articles">記事はまだありません</p>
  <% end %>
</div>