<% content_for(:list_title, "記事一覧") %>

<!-- プロフィール -->
<section class="profile">
  <%= render "shared/profile" %>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
  <%= render "shared/list_title" %>
  <%= render "shared/on_articles_existence" %>
</div>