<div class="articles_list articles_list_new">
  <%= render "shared/list_title" %>
  <% unless @articles.empty? %>
    <% @articles.each do |article| %>
      <%= render "shared/articles", article: article %>
    <% end %>
    <%= paginate @articles %>
  <% else %>
    <p class="articles_list__no_articles">記事はまだありません</p>
  <% end %>
</div>