.cta {
    background: #EFEFEF;
    padding: 100px 0;
    &__wrapper {
        max-width: 820px;
        margin: 0 auto;
        display: flex;
        .cta__items {
            width: 240px;
            height: 360px;
            background: $main_blue;
            color: white;
            text-align: center;
            padding: 25px 35px 40px;
            box-sizing: border-box;
            position: relative;
            &--icon {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 25px;
            }
            &--title {
                font-size: 22px;
                line-height: 30px;
            }
            &--text {
                width: 170px;
                position: absolute;
                bottom: 40px;
            }
            &:nth-of-type(2) {
                margin: 0 50px;
            }
        }
    }
}