@mixin swiper_arrow {
    width: 80px;
    height: 100%;
    top: 22px;
    background: #000;
    opacity: .3;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;    
    &::after {
        color: white;
    }
    @include bp_sm {
        width: 50px;
    }
}

@mixin button($background: $main_blue,  $width: 400px, $radius: 25px, $height: 60px, $color: white) {
    width: $width;
    height: $height;
    background: $background;
    border-radius: $radius;
    color: $color;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
}

@mixin line_title($width: 100px) {
    &__title {
        display: flex;
        justify-content: center;
        &--text {
            font-size: 24px;
            line-height: 24px;
            margin: 0 35px;
        }
        &--line {
            width: $width;
            height: 1px;
            background: $main_blue;
            display: block;
            align-self: center;
        }
    }
}

@mixin article($width: 500px, $height: 99.51%, $image_width: 40%, $text_width: 60%, $title_size: 14px, $title_line: 20px, $title_mg: 15px, $overview_size: 12px, $overview_mg: 15px, $line: 17px, $name_size: 12px, $img_size: 200px 100%, $text_padding: 30px 20px, $icon_size: 35px) {
    max-width: $width;
    height: $height;
    display: flex;
    background: white;
    &__image {
        width: $image_width;
        position: relative;
        .article_items__wrapper {
            height: 100%;
            background: image-url('no_img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-size: $img_size;
            position: relative;
            &--time {
                font-size: 12px;
                color: white;
                background: $sub_blue;
                padding: 2px 10px 4px;
                border-radius: 0px 0px 5px 0px;
                position: absolute;
                top: 0;
            }
            &--star {
                width: $icon_size;
                height: $icon_size;
                position: absolute;
                bottom: 20px;
                left: 15px;
            }
        }
    }
    &__text {
        width: $text_width;
        padding: $text_padding;
        box-sizing: border-box;
        &--title {
            margin-bottom: $title_mg;
            font-size: $title_size;
            line-height: $title_line;
        }
        &--overview {
            font-size: $overview_size;
            color: #aeaeae;
            line-height: $line;
            margin-bottom: $overview_mg;
        }
        &--name {
            font-size: $name_size;
            color: $main_blue;
            line-height: $line;
        }
    }        
}