@mixin title_logo($color: #333) {
    .header__title {
        .header__hssb {
            font-size: 24px;
            line-height: 18px;
            color: $color;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            letter-spacing: 0;
            margin-bottom: 2px;
            &--blue {
                color: #64BCFC;
            }
        }
        &--sub {
            font-size: 10px;
            line-height: 10px;
        }
    }
}