.swiper-container {
    width: 100%;
    height: 350px;
    margin: 10px auto 50px;
    .swiper-slide {
        text-align: center;
        background: #fff;
        position: relative;
        &__wrapper {
            padding: 0 60px;
            &--name {
                font-size: 18px;
                line-height: 18px;
                margin: 80px 0 20px;
            }
            &--title {
                font-size: 22px;
                line-height: 30px;
            }
            &--button {
                @include button($width: 200px, $height: 50px, $radius: 5px);
                position: absolute;
                bottom: 60px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    .swiper-button-next {
        @include swiper_arrow;
        right: 0;
    }
    .swiper-button-prev {
        @include swiper_arrow;
        left: 0;
    }
}
.swiper-pagination {
    width: 100%;
    height: 40px;
    margin-top: -40px;
    background: white;
    &-bullet {
        margin-top: 15px;
        width: 10px;
        height: 10px;
        background: #ddd;
        opacity: 1;
        &:nth-of-type(2) {
            margin: 0 30px;
        }
    }
    &-bullet-active {
        background: $main_blue;
    }
}
@include bp_md {
    .swiper-container {
        height: 330px;
        .swiper-slide {
            &__wrapper {
                padding: 0 40px;
                &--name {
                    margin-top: 60px;
                }
                &--title {
                    font-size: 18px;
                    line-height: 26px;
                }
                &--button {
                    @include button($width: 150px, $height: 50px, $radius: 5px);
                }
            }
        }
    }
}

@include bp_sm {
    .swiper-container {
        height: 200px;
        margin-bottom: 40px;
        .swiper-slide {
            &__wrapper {
                padding: 0 10px;
                &--name {
                    font-size: 12px;
                    line-height: 17px;
                    margin: 25px 0 10px;
                }
                &--title {
                    font-size: 13px;
                    line-height: 20px;
                }
                &--button {
                    @include button($width: 110px, $height: 30px, $radius: 5px);
                    font-size: 11px;
                    bottom: 25px;
                }
            }
        }
    }
    .swiper-pagination {
        height: 30px;
        margin-top: -30px;
        background: white;
        &-bullet {
            margin-top: 11.5px;
            width: 7px;
            height: 7px;
            background: #ddd;
            opacity: 1;
            &:nth-of-type(2) {
                margin: 0 20px;
            }
        }
        &-bullet-active {
            background: $main_blue;
        }
    }
}