.swiper-container {
    width: 100%;
    height: 350px;
    margin: 10px auto 0;
    .swiper-slide {
        text-align: center;
        background: #fff;
        &__wrapper {
            padding: 0 60px;
            &--name {
                font-size: 18px;
                line-height: 18px;
                margin: 80px 0 20px;
            }
            &--title {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 40px;
            }
            &--button {
                @include button($width: 200px, $height: 50px, $radius: 5px,)
            }
        }
    }
    .swiper-button-next {
        @include swiper_arrow;
        right: 0;
    }
    .swiper-button-prev {
        @include swiper_arrow;
        left: 0;
    }
}
.swiper-pagination {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background: white;
    &-bullet {
        margin-top: 15px;
        width: 10px;
        height: 10px;
        background: #ddd;
        opacity: 1;
        &:nth-of-type(2) {
            margin: 0 30px;
        }
    }
    &-bullet-active {
        background: #64BCFC;
    }
}